body {
  text-align: center;
  position : relative;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  background-color: #eee0e0;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.container {
  float: left;
  width: 100%;
  margin: 50px auto;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: rgba(8, 46, 32, 0.331);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h2 {
  margin-top: 0;
  color: #333;
}

button {
  padding:px 17px;
  background-color: #0079c1;
  color: #0b0b0b;
  border: none;
  width: 50%;
  border-radius: 17px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005d91;
}

.form {
  margin-top: 20px;
}

input[type="text"] {
  width: 50%;
  padding: 12px;
  color: #050505;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 9px solid grey;
  background-color: #f5eeee;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #0079c1;
  outline: none;
}

.input[type="text"]::placeholder {
  color: #050505;
}

.input[type="text"]:-ms-input-placeholder {
  color: #070707;
}

.input[type="text"]::-ms-input-placeholder {
  color: #080808;
}

.userinfo{
  background-color: rgba(8, 46, 32, 0.331);
}
.insert-pin{
  color : #0079c1;
  text-decoration: #050505;
  background-color:rgba(8, 46, 32, 0.331);
}